site_name: Joe Wojak | Senior Technical Writer

theme:
  name: material

plugins:
  - search

# --- Social links ---
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jwwojak
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/joewojak
    - icon: fontawesome/solid/paper-plane
      link: mailto:jwojak@gmail.com

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Resume: resume.md

copyright: Copyright &copy; 2026 Joe Wojak

markdown_extensions:
  - toc:
      permalink: True
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.keys
  - pymdownx.arithmatex:
      generic: true